
.graphite .dd-wrapper {
	color: black;
	font: bold 12px Arial, sans-serif;
}
.graphite .dd-menu {
	border-top: 1px solid silver;
}
.graphite .dd-menu a {
	text-decoration: none;
	padding: 10px 10px 10px 50px;
	display: block;
	color: black;
	border-bottom: 1px solid #DEDEDE;
	border-top: 1px solid #555;
	position: relative;
}
.graphite .dd-menu a:hover {
	background: #BFEBF3;
	color: black;
}
.graphite .dd-menu li a .dd-icon {
	position: absolute;
	top: 50%;
	left: 14px;
	width: 34px;
	margin-top: -15px;
	height: 34px;
	background: url(img/arrow_black_right.png) no-repeat 0 center;
}
.graphite .dd-menu li.dd-parent a.dd-parent-a {
	/*li con submenus*/
	background: #C8EAF1;
}
.graphite .dd-menu li {
	background: #DDF0F4;
	width: 100% !important;
}
.graphite .dd-menu li.dd-parent a:hover {
	/* Hover de menu activo*/
	background: #BFEBF3;
	color: black;
}
.graphite .dd-menu li.dd-parent a.active .dd-icon {
	background: url(img/arrow_black_down.png) no-repeat 0 center;
}
.graphite .dd-menu li.dd-parent a.active {
	color: #fff;
	background: #111;
}
.graphite .dd-header {
	font: normal 11px Arial, sans-serif;
	background: rgb(102,204,102);
	border-radius: 14px 14px 0px 0px;
	-moz-border-radius: 14px 14px 0px 0px;
	-webkit-border-radius: 14px 14px 0px 0px;
	border: 0px solid #000000;
	min-height: 40px;
	vertical-align: middle;
}
.graphite .dd-header ul {
	width: 100%;
	overflow: hidden;
	line-height: 1.5em;
	padding: 5px 10px;
}
.graphite .dd-header li {
	display: inline;
}
.graphite .dd-header li a {
	text-decoration: none;
	float: left;
	display: block;
	padding: 1px 15px 1px 5px;
	background: url(img/arrow_white_right.png) no-repeat 100% center;
	color: #fff;
}
.graphite .dd-header li a:hover {
	color: #fff; text-decoration: underline;
}
.graphite .dd-header a.link-back {
	text-decoration: none;
	display: block;
	padding: 5px 15px 0 20px;
	margin-left: 10px;
	background: url(img/arrow_white_left.png) no-repeat 5px center;
	color: white;
}
.graphite .dd-header h3 {
	clear: both;
	padding: 5px 10px;
	margin: 0;
	font-size: 1.1em;
	color: white;
}
.graphite .dd-header h3 .dd-count {display: none;}
.graphite .dd-wrapper {
	overflow: hidden;
}

.clear {clear: both;}

/* Drill Down Menu Styles */
.dd-wrapper ul, .dd-wrapper ul li, .dd-wrapper li, .dd-wrapper li ul, .dd-wrapper li ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.dd-wrapper .dd-menu {
	overflow: hidden;
	position: relative;
	width: 2000px !important;
}
.dd-wrapper  .dd-menu ul {
	margin: 0;
	position: absolute;
	top: 0;
	right: 0;
}
.dd-wrapper .dd-menu a {display: block;}